In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('transactions.csv')

if 'Unnamed: 0' in df.columns:
    df = df.drop('Unnamed: 0', axis=1)
    
df['prix_m2'] = df['prix'] / (df['surface_habitable'])
df['type_bat'] = np.where(df['type_batiment'].values == 'Appartement',1,0)

In [32]:
idf_df = df[(df.departement.isin([75, 77, 78, 91, 92, 93, 94, 95])) & (df.date_transaction.str.startswith('2022-'))]

#filtre des données avec des surfaces de dépendances                                 
surface_cols = [c for c in idf_df.columns if 'surface_' in c and c != 'surface_habitable']
for c in surface_cols:
    idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)
idf_df = idf_df[idf_df[[c + '_sum' for c in surface_cols]].sum(axis=1) == 0]

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1592\2021526113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1592\2021526113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1592\2021526113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1592\2021526113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1592\2021526113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf_df[c + '_sum'] = idf_df[c].apply(lambda x: sum(eval(x)) if 'NULL' not in x else 0)

In [33]:
idf_df.head()

,id_transaction,date_transaction,prix,departement,id_ville,ville,code_postal,adresse,type_batiment,vefa,...,surface_terrains_agricoles,surface_terrains_sols,surface_terrains_nature,prix_m2,type_bat,surface_dependances_sum,surface_locaux_industriels_sum,surface_terrains_agricoles_sum,surface_terrains_sols_sum,surface_terrains_nature_sum
6043985,10040024,2022-01-03,329910.0,75,112,PARIS 12,75012,260 AV DAUMESNIL,Appartement,False,...,{},{},{},10997.000000,1,0,0,0,0,0
6043986,10035062,2022-01-03,302400.0,75,102,PARIS 02,75002,52 RUE GRENETA,Appartement,False,...,{},{},{},11630.769231,1,0,0,0,0,0
6043987,10036657,2022-01-03,665000.0,75,117,PARIS 17,75017,26 BD DES BATIGNOLLES,Appartement,False,...,{},{},{},11271.186441,1,0,0,0,0,0
6043988,10035700,2022-01-03,965000.0,75,105,PARIS 05,75005,31 RUE CENSIER,Appartement,False,...,{},{},{},15317.460317,1,0,0,0,0,0
6043989,10029380,2022-01-03,200000.0,75,110,PARIS 10,75010,37 RUE DE PARADIS,Appartement,False,...,{},{},{},10526.315789,1,0,0,0,0,0

In [34]:
idf_df.columns

Index(['id_transaction', 'date_transaction', 'prix', 'departement', 'id_ville',
       'ville', 'code_postal', 'adresse', 'type_batiment', 'vefa', 'n_pieces',
       'surface_habitable', 'id_parcelle_cadastre', 'latitude', 'longitude',
       'surface_dependances', 'surface_locaux_industriels',
       'surface_terrains_agricoles', 'surface_terrains_sols',
       'surface_terrains_nature', 'prix_m2', 'type_bat',
       'surface_dependances_sum', 'surface_locaux_industriels_sum',
       'surface_terrains_agricoles_sum', 'surface_terrains_sols_sum',
       'surface_terrains_nature_sum'],
      dtype='object')

In [35]:
idf_df.shape

(118624, 27)

In [36]:
idf_df.departement.unique()

array([75, 77, 78, 91, 92, 93, 94, 95], dtype=int64)

In [37]:
idf_df.to_csv('transactions_idf.csv', index= False)